$color-1: #064273; // Dark Blue
$color-2: #76b6c4; // Aqua Marine
$color-3: #7fcdff; // Light Blue
$color-4: #1da2d8; // Blue
$color-5: #def3f6; // Blue White

// additional colors

$success: #6fce72; // green
$alert: $color-4; // blue

// fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Baloo Bhai', cursive;
$title-font: 'Modak', cursive;